fastapi
uvicorn
pydantic
requests
beautifulsoup4
langchain
langchain-community
langchain-huggingface
langchain-google-genai
sentence-transformers
chromadb
spacy
networkx
matplotlib
nltk
whisper
sounddevice
scipy
webdriver-manager
selenium
pandas
python-docx
PyPDF2
pymupdf
python-multipart
